<% if @policy_price_form.errors.any? %>
  <h2>We were unable to calculate the travel insurance price due to:</h2>
  <ul>
    <% @policy_price_form.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @policy_price_form, url: {action: "create"}, html: { novalidate: 'novalidate' } do |f| %>
  <%= f.label :date_of_birth, 'Date of Birth' %>
  <%= f.date_field :date_of_birth, value: @policy_price_form.date_of_birth %>
  <%= f.label :age, 'Age' %>
  <%= f.text_field :age %>
  <%= f.label :length_of_trip, 'Length of Trip' %>
  <%= f.text_field :length_of_trip %>
  <%= f.submit "Get Travel Policy Price" %>
<% end %>
